/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: white;
}

/*Text colors to white*/
h1, h2, h3, h4, h5, h6 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #111;
}

.logo {
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

/* Hero Section with Parallax */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('pictures/picture.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #0d0d0d;
}


.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #007BFF;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.scroll-down {
    font-size: 2rem;
    margin-top: 20px;
    animation: bounce 2s infinite;
}

/* About Me Section */
.about-me {
    padding: 50px;
    background-color: #1a1a1a;
    text-align: center;
}

.about-me h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.stats div {
    margin: 0 30px;
    text-align: center;
}

.stats h3 {
    font-size: 3rem;
    color: #007BFF;
}

.stats p {
    font-size: 1.2rem;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #111;
}

.social-links a {
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #007BFF;
}

/* Animations */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-10px);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 20px;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .about-me {
        padding: 20px;
    }

    .stats {
        flex-direction: column;
    }

    .stats div {
        margin: 20px 0;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 2rem;
    }

    .btn {
        padding: 8px 16px;
    }
}
