<header class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-3xl font-bold">Edward Ndachimya</h1>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="/index.html" class="tab-link">Home</a></li>
                <li><a href="/pages/about.html" class="tab-link">About</a></li>
                <li><a href="/pages/projects.html" class="tab-link">Projects</a></li>
                <li><a href="/pages/contact.html" class="tab-link">Contact</a></li>
                <li><a href="/pages/experience.html" class="tab-link">Experience</a></li>
            </ul>
        </nav>
    </div>
</header>