<header role="banner">
    <div class="name">
        <a href="/index.html" aria-label="Ndachimya, go to homepage">Ndachimya</a>
        <img src="/pictures/signature.png" alt="Signature" class="signature-placeholder">
    </div>
    <nav role="navigation">
        <ul>
            <li><a href="/index.html" aria-label="Navigate to Home">Home</a></li>
            <li><a href="/pages/projects.html" aria-label="Navigate to Portfolio">Projects</a></li>
            <li><a href="/pages/experience.html" aria-label="Navigate to Experiences">Experiences</a></li>
            <li><a href="https://1drv.ms/w/s!AhDipEd-q0lioiKPR5ftVA4KPPfV?e=59c8tI" aria-label="Navigate to Experiences">Résumé</a></li>
        </ul>
    </nav>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/ndachimyaedward" aria-label="Visit Ndachimya's LinkedIn"><i
                class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Mopheshi/" aria-label="Visit Ndachimya's GitHub"><i class="fab fa-github"></i></a>
    </div>
</header>